@inherits LayoutComponentBase

<PageTitle>Proj2</PageTitle>

<HeadContent>
    <link href="~/css/site.styles.css" rel="stylesheet">
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="if_needed" />
</HeadContent>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p class="text-end">USERNAME - JOHN DOE</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
