@using Proj2.Code

@inject AuthStateProvider AuthStateProvider

<div>
	<nav class="flex-column">
		<ul class="nav nav-pills flex-column mb-auto">
			<AuthorizeView>
				<NotAuthorized>

					<NavLink class="nav-link text-light" href="login">
						<span class="oi oi-account-login" aria-hidden="true"></span> Login
					</NavLink>

				</NotAuthorized>

				<Authorized>
					<li>
						<NavLink class="nav-link text-light" href="" Match="NavLinkMatch.All">
							<span class="oi oi-home" aria-hidden="true"></span> Home
						</NavLink>
					</li>

					<li>
						<NavLink class="nav-link text-light" href="uprave">
							<span class="oi oi-list-rich" aria-hidden="true"></span> Uprave
						</NavLink>
					</li>



					@*<li>
						<NavLink class="nav-link text-light" href="dataview">
							<span class="oi oi-chevron-right" aria-hidden="true"></span> Pregled
						</NavLink>
					</li>*@

				</Authorized>
			</AuthorizeView>
		</ul>
	</nav>
</div>

@code {
	/*string Username {
		get {
			return AuthStateProvider.GetDbUser().Username;
		}
	}*/
}
