@page "/pregled_uprave"

@using Microsoft.AspNetCore.SignalR.Client
@using Proj2.Database
@using Proj2.Code

@inject AuthStateProvider AuthStateProvider
@inject NavigationManager Navigation


<PageTitle>Pregled Uprave</PageTitle>

<AuthorizeView>
	<Authorized>


		<div class="card" style="width: 18rem;">
		<div class="card-body">
		<h5 class="card-title">Card title</h5>
		<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
		<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		<a href="#" class="card-link">Card link</a>
		<a href="#" class="card-link">Another link</a>
		</div>
		</div>

	</Authorized>
</AuthorizeView>

@code {
	protected override void OnAfterRender(bool firstRender) {
		if (!AuthStateProvider.IsAuthenticated())
			Navigation.NavigateTo("/login");
	}
}